/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
///NAV///////////////////////

.navbar-toggler-icon{
  color: black;
}




  ////HeroCard////////////////////////////////////////

  
  
  .HeroCard{
    width: 60%;
    height: 75vh;
    font-size: 3.5rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
      .HeroCardText{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button{
          width: 20%;
          margin-top: 10px;
          background-color: white;
          font-size: 1rem;
          padding: 5px;

          @media (max-width: 760px) {
            width: 40%;
          }
        }

      }
      
    
  }



  /////Footer/////////////////////////////

  footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    width: 80%;
    color: white;
    
    margin: 0 auto;


    .SocialLinks{
      display: flex;
      justify-content: space-evenly;
      width: 35%;
      padding: 15px 0;
      margin: 0 auto;
      

        a{
          font-size: 1.5rem;
          color: white;
        }
        
      
    }
    section{
      color: white;
      h4{
        font-size: 1.3rem;
      }
    }
  }


  // about///////////////////////////////


.about{
  margin: 0 auto;
  color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  
  .aboutSection{
    color: white;
    display: flex;
    width: 30%;
    flex-direction: column;
    
    .imgContainer{
      min-height: 30vh;
      width: 80%;
      margin: 10px auto;
      background: white;

      @media (max-width: 760px)  { 
      display: none
      }
    }

    p{
      width: 80%;
      margin: 5px auto;
    }

    div{
      margin: 10px auto;
      display: flex;
      justify-content: space-between;
      width: 60%;

      @media (max-width: 760px){
        width: 50%;
        display: flex;
        flex-direction: column;
      }

      button{
        width: 45%;
        border-radius: 5px;

        &:hover{
          background-color: black;
          color: white;
        }
        @media (max-width: 760px) {
          width: 100%;
          margin-bottom: 5px;
          font-size: 10px;
          margin: 5px;
        }
        
      }

      
    }
    @media (max-width: 760px)  { 
      width: 30%;
      
      }
  }

  .skillsSection{
    width: 40%;

    @media (max-width: 760px){
      width: 60%;
    }
    h2{
      font-size: 25px;
      margin: 20px auto;
    }
    div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;

        .imgContainer{
          max-width: 33%;
          object-fit: fill;

          @media (max-width: 760px){
            width: 45%;
            object-fit: fill;
          }
          img{
            width: 60%;
            min-height: 50px;
            background: white;
            margin: 10px 0px;
            padding: 5px;
            border-radius: 5px;
            
          }
          &:hover{
            transform: scale(1.5);
           
          }
          @media (max-width: 760px) {
            width: 100%;
            &:hover{
              transform: scale(2);
             
            }
          }
        }
      }

      @media (max-width: 760px)  { 
    width: 55%
}
  }
}


////Projects////////////


.projects{
  width: 90%;
  height: 75vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
  align-items: center;

  div{
    width: 30%;
    margin: 0 auto;

    h1{

      font-size: 20px;
    }

    .imgContainer{
      width: 80%;
      height: 20vh;
      background-color: white;
      margin: 0 auto;
    }
    p{
      font-size: 15px;
      
      width: 80%;
      margin: 5px auto
    }

    .buttonContainer{
      border: none;
      width: 90%;
      margin: 5px auto;
      padding: 5px 0px;
      display: flex;
      justify-content: space-evenly;

      button{
        width: 40%;
        background-color: white;
        border-radius: 5px;

        &:hover{
          color: white;
          background-color: black;
        }
      }
    }

    @media (max-width: 760px) {
      
      
      width: 100%;

      .imgContainer{
        display:none;
      }
      
      
    }
  }
  @media (max-width: 760px) {
      
    
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
  }
  
}

  
/////Contact///////

.contact{
  width: 90%;
  height: 75vh;
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  

  div{
    opacity: 1;
    background-color: black;
    
    width: 30%;
    border-radius: 5px;

    @media (max-width: 760px) {
      width: 100%;
    }

    form{
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap;
      
      div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-radius: 0px;
        input{
          
          width: 70%;
        }
        .error{
          margin: 5px 0px;
          width: 100%;
          font-size: 1rem;
        }

        .message{
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          min-height: 5vh;

          @media (max-width: 1075px){
            width: 100%;
          }
         
        }
      }
      
      label{
        font-size: 16px;
      }
      div{
        margin: 10px auto;
        display: flex;
        width: 75%;
        justify-content: space-between;
        opacity: 1;
      }

      button{
        margin: 10px auto;
        width: 50%;
        padding: 5px;
        border-radius: 5px;

        &:hover{
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.particlesBackground{
  background-attachment: fixed;
}