/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  
  font-family: 'Poppins', sans-serif;
  z-index: 200;
  opacity: .7;
  position: relative;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li{
  list-style:none;
  
}
.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  font-size:14px;
}

.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
}

@media screen and (max-width:1024px){
  nav{
    opacity: .9;
    z-index: 200;
  }
  .nav-links{
    width:60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color: black;
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(0px,5px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
  display: none;
}

.toggle .line3{
  transform: rotate(45deg) translate(0px,-5px);
}


///BackGround /////////////////////////////////////
.app{
  z-index: 1;
}






//Particles Background//////////////////////////////

.particlesBackground{

  border: 2px solid blue;
  background-attachment: fixed;
} 







  ////HeroCard////////////////////////////////////////

  
  
  .HeroCard{
    position: relative;
    z-index: 100;
    width: 60%;
    height: 75vh;
    // background-size: cover;
    font-size: 3.5rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    
      .HeroCardText{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button{
          width: 20%;
          margin-top: 10px;
        }
      }
      
    
  }



  /////Footer/////////////////////////////

  footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.0rem;
    width: 80%;
    color: white;
    
    margin: 0 auto;


    .SocialLinks{
      display: flex;
      justify-content: space-evenly;
      width: 35%;
      padding: 15px 0;
      
      

        a{
          font-size: 1.5rem;
          color: white;
        }
        
      
    }
    section{
      color: white;
    }
  }


  // about///////////////////////////////


.about{
  margin: 0 auto;
  color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .aboutSection{
    color: white;
    display: flex;
    width: 30%;
    flex-direction: column;
    border: 2px solid green;
    .imgContainer{
      min-height: 30vh;
      width: 80%;
      margin: 10px auto;
      background: white;

      @media (max-width: 760px)  { 
      display: none
      }
    }

    p{
      width: 80%;
      margin: 5px auto;
    }

    div{
      margin: 10px auto;
      display: flex;
      justify-content: space-between;
      width: 50%;

      button{
        width: 40%;
        border-radius: 5px;

        &:hover{
          background-color: black;
          color: white;
        }
      }

      
    }
    @media (max-width: 760px)  { 
    width: 30%
      }
  }

  .skillsSection{
    width: 40%;

    h2{
      margin: 20px 0;
    }
    div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
        .imgContainer{
         
          width: 33%;
          object-fit: cover;
          img{
            width: 40%;
            min-height: 50px;
            background: white;
            margin: 10px 0px;
            padding: 5px;
            border-radius: 5px;
            
          }
          &:hover{
            transform: scale(2);
           
          }
        }
      }

      @media (max-width: 760px)  { 
    width: 55%
}
  }
}


////Projects////////////


.projects{
  width: 90%;
  height: 75vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
  align-items: center;

  div{
   border: 2px solid white;
    width: 30%;
    margin: 0 auto;

    h1{

      font-size: 20px;
    }

    .imgContainer{
      width: 80%;
      height: 20vh;
      background-color: pink;
      margin: 0 auto;
    }
    p{
      font-size: 15px;
      
      width: 80%;
      margin: 5px auto
    }

    .buttonContainer{
      border: none;
      width: 80%;
      margin: 5px auto;
      padding: 5px 0px;
      display: flex;
      justify-content: space-evenly;

      button{
        width: 20%;
        background-color: white;
        border-radius: 5px;

        &:hover{
          color: white;
          background-color: black;
        }
      }
    }
  }
}

  
/////Contact///////

.contact{
  width: 90%;
  height: 75vh;
  display: flex;
  color: white;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  

  div{
    opacity: 1;
    background-color: black;
    border: 1px solid white;
    width: 30%;
    border-radius: 5px;

    form{
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap;
      
      div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-radius: 0px;
        input{
          
          width: 70%;
        }
        .error{
          margin: 5px 0px;
          width: 100%;
          font-size: 1rem;
        }

        .message{
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          min-height: 5vh;
          
         
        }
      }
      
      label{
        font-size: 16px;
      }
      div{
        margin: 10px auto;
        display: flex;
        width: 75%;
        justify-content: space-between;
        opacity: 1;
      }

      button{
        margin: 10px auto;
        width: 50%;
        padding: 5px;
        border-radius: 5px;

        &:hover{
          background-color: black;
          color: white;
        }
      }
    }
  }
}


